@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-image: url("./bannerImg.png");
  background-position: center;
  /* font-family: Arial, sans-serif; */
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-weather-input {
  display: none;
}
.weather-app {
  position: relative;
  background-image: linear-gradient(#14b9f9, #116ef3);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

#city-input {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  width: 200px;
  margin-right: 10px;
  font-size: 16px;
}

#search-button {
  cursor: pointer;
  outline: none;
  border: none;
  color: aliceblue;
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 8px;
}

#search-button:hover {
  background-color: #000000;
}

#search-button:active {
  background-color: #3b3b38;
}

#weather-info {
  margin-top: 20px;
}

#weather-info h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.temperature {
  font-size: 45px;
  font-weight: 500;
  margin: 0;
}

.weather-info {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 18px;
}

.info-container h3 {
  margin: 2px;
  font-weight: 600;
  font-size: 20px;
}

.sub {
  font-size: 12px;
  font-weight: 500;
}

.info-container p {
  margin: 1px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.8;
}

.vr {
  border-left: 2px solid #ffffff !important;
  height: 40px !important;
  opacity: 0.5;
}

.search-icon {
  display: none;
  position: absolute;
  right: 10%;
  cursor: pointer;
}

.search-icon-visiblity {
  display: block;
}
